[access]
	inheritFrom = DETES
[access "refs/*"]
	owner = group AUTO-course
	owner = group DETES-admins
	owner = group user/LCI user access (lciadm100)
	read = group AUTO-course
	read = group DETES-admins
	read = group Registered Users
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
	read = group Replication_SELI_ECN_DO_NOT_REMOVE
	read = group user/LCI user access (lciadm100)
	read = group user/This is for EIAP CICD Team automation (eiafcicd01)
	create = group AUTO-course
	create = group DETES-admins
	create = group user/LCI user access (lciadm100)
	createTag = group AUTO-course
	createTag = group DETES-admins
	createTag = group user/LCI user access (lciadm100)
	forgeCommitter = group AUTO-course
	forgeCommitter = group DETES-admins
	forgeCommitter = group user/LCI user access (lciadm100)
	push = group AUTO-course
	push = +force group DETES-admins
	push = group user/Sreelatha Gelli (EXT) (zgelsre)
	rebase = group AUTO-course
	rebase = group DETES-admins
	submit = group AUTO-course
	submit = group DETES-admins
	submit = group user/LCI user access (lciadm100)
	addPatchSet = group AUTO-course
	addPatchSet = group DETES-admins
	addPatchSet = group user/LCI user access (lciadm100)
	createSignedTag = group AUTO-course
	createSignedTag = group DETES-admins
	createSignedTag = group user/LCI user access (lciadm100)
	pushMerge = group AUTO-course
	pushMerge = group DETES-admins
	pushMerge = group user/LCI user access (lciadm100)
	label-Code-Review = -2..+2 group AUTO-course
	label-Code-Review = -2..+2 group DETES-admins
	label-Code-Review = -2..+2 group user/LCI user access (lciadm100)
	label-Verified = -1..+1 group AUTO-course
	label-Verified = -1..+1 group DETES-admins
	label-Verified = -1..+1 group user/LCI user access (lciadm100)
	viewDrafts = group AUTO-course
	viewDrafts = group DETES-admins
	abandon = group AUTO-course
	abandon = group DETES-admins
	abandon = group user/LCI user access (lciadm100)
	forgeAuthor = group AUTO-course
	forgeAuthor = group DETES-admins
	forgeAuthor = group user/LCI user access (lciadm100)
	forgeServerAsCommitter = group AUTO-course
	forgeServerAsCommitter = group DETES-admins
[access "refs/heads/*"]
	push = group AUTO-course
	push = group DETES-admins
	push = group user/Sreelatha Gelli (EXT) (zgelsre)
	read = group Registered Users
